[submodule "donut"]
	path = donut
	url = https://github.com/r2d2Proton/donut.git
[submodule "NRD"]
	path = NRD
	url = https://github.com/r2d2Proton/RayTracingDenoiser.git
[submodule "DLSS"]
	path = DLSS
	url = https://github.com/r2d2Proton/DLSS.git
[submodule "RTXGI"]
	path = RTXGI
	url = https://github.com/r2d2Proton/RTXGI.git
